#preview {
  background: #FFF;
  font-size: 36px;
  font-family: "NEXTBook", -apple-system, "Avenir next", Avenir, Roboto, Noto, "Helvetica neue", Helvetica, Arial, Sans-serif;
  font-weight: 200;
  line-height: 160%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 400;
  line-height: 140%;
}

h1 {
  font-size: 104px;
}

h2 {
  font-size: 72px;
}

h3,
h4,
h5,
h6 {
  font-size: 48px;
}

a,
.link {
  color: #FF4847;
  text-decoration: none;
}

strong {
  font-weight: 400;
}

.editable {
  min-height: 200px;
  padding: 48px;
}

.editable h1,
.editable h2,
.editable ul,
.editable p {
  margin: 0 0 48px;
  padding: 0;
}

.editable .label {
  font-size: 36px;
  line-height: 1;
  margin-bottom: 24px;
}

.poster {
  width: 1200px;
  height: 600px;
  object-fit: cover
}

.logo {
  position: absolute;
  top: 34px;
  left: 50px;
  width: 384px;
  height: 56px;
  background-image: url('./logo.png');
  background-size: cover;
}

.shadow {
  background: linear-gradient(-10deg, rgba(0,0,0,0), rgba(0,0,0,0) ,rgba(0,0,0,1));
  height: 600px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1200px;
}

.qrcode {
  background: #FFF;
  height: 320px;
  padding: 12px;
  position: absolute;
  right: 24px;
  top: 352px;
  width: 320px;
}
