#canvas {
  display: none;
}

main {
  margin: 20px auto;
}

#form {
}

.form-line {
  margin: 1em 0;
  display: block;
}

.preview-wrapper {
  width: 1200px;
  border: 1px solid #000;
  transform: translate(-25%, -25%) scale(0.5);
}